/* RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

img {
    max-width: 100%;
}

/* COMMON */

/* UTILITIES */
.flex {
    display: flex;
}

.wrap {
    flex-wrap: wrap;
}

.justify-content-between {
    justify-content: space-between;
}

.justify-content-center {
    justify-content: center;
}

.align-items-center {
    align-items: center;
}

.txt-align-center {
    text-align: center;
}


/* LAYOUT */
.container  {
    width: 100%;
    padding: 15px;
}

.background-violet {
    background-color: #9792e4;
}

@media screen and (min-width:1160px) {
    .container {
        width: 80%;
        margin: 0 auto;
        max-width: 1160px;
    }

    .background-violet {
        width: 100%;
    }

}

/* HEADER */

header {
    background-color: #0084fd;
    color: white;
    line-height: 70px;
}

.header-menu {
    display: none;
}

.header-menu ul {
    display: flex;
    list-style-type: none;
    gap: 10px;
}

.hamburger-menu {
    font-size: 2rem;
    background-color: transparent;
    border: 0;
    color: white;
}

@media screen and (min-width: 1160px) {

    .hamburger-menu {
        display: none;
    }

    .header-menu {
        display: block;
    }
}

/* MAIN */

/* FIRST-SECTION */
.application {
    width: 100%;
}

.card {
    height: 400px;
    width: 80%;
    background-color: #b5ddff;
    margin-bottom: 20px;
    border-radius: 20px;
}

@media screen and (min-width: 768px) {
    .application {
        display: flex;
        flex-wrap: wrap;
    }

    .application .card {
        width: 30%;
    }

    .application .card:first-child {
        width: 60%;
    }
}

/* Second-section */

.card2 {
    width: 80%;
    background-color: #ffffff;
    margin-bottom: 20px;
    border-radius: 20px;
}

.strategic {
    display: block;
}

@media screen and (min-width: 1160px) {
  .strategic {
    display: flex;
  }  
}


/* BENEFITS */

.benefits {
    display: flex;
}

@media screen and (min-width: 480px) {
    .benefits {
        display: flex;
        flex-wrap: wrap;
    }

    .benefits .card {
        width: 80%;
    }
}

@media screen and (min-width: 768px) {
    
    .benefits {
        display: flex;
        flex-wrap: wrap;
    }

    .benefits .card {
        width: 50%;
    }

}